{% extends "Alumno/indexTemplate.html.twig" %}
{% block titulo_seccion %}Cuestionario{% endblock %}

{% block titulo_contenido %}
    Llenar Cuestionario
{% endblock %}

{% block contenido %}
    <div class="box"> 
        <div class="box-body">
            Ayuda Psicologica
        </div>       
    </div>

{% endblock %}
{% block scripts %}
                   
{% endblock %}