{% extends '@Twig/layout.html.twig' %}

{% block titulo_pagina %}{%block titulo_seccion %}{%endblock%} Error 403 - SIAS FES Arag&oacute;n {% endblock %}

{% block contenido %}
    <div class="container"><br><br>
        <div class=" text-center">
            <img src="{{asset('bundles/aragontemplates/aragon/img/inst-logos/unam_gris.svg')}}" alt="SIAS FES Aragon"><br><br>
            <h1 class="title" style="font-size: 160px;">403</h1>
        </div>
        <div class="text-center callout callout-danger lead">
          <h4>No tienes acceso a esta recurso.</h4>
          <h4>{{ exception.message }}</h4>
        </div>    
    </div>
{% endblock %}